table#board {
  background-color: gray ;
}

table#board td {
  text-align: center ;
  font-family: Helvetica ;
  font-weight: bold;
  width: 32px ;
  height: 32px ;
  border: 1px solid white ;
  background-color: gray;
  font-size: 20;
}

table#board td:hover {
  background-color: #e6e6e6;
}

h1 {
  color: black;
  font-family: Impact;
  font-size: 36;
  text-align: center;
}

#message {
  text-align: center;
  font-family: Impact;
  font-size: 24;
}

#spaces {
  text-align: center;
  font-family: Arial;
  font-size: 24;
}
